*{
    margin : 0;
    padding : 0;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
}
.menuBurger{
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 0 0 0 2%;
    margin: 0 85% 0 1%;
    cursor: pointer;
  }
.bars{
    background-color: #E2F2FF;
    width: 30px;
    height: 2px;
    margin: 3px 0;
    margin-left: 10px;
    border-radius: 5px;
  }
.navBar {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 50;
    width: 100%;
    padding: 3% 0 3% 0;
    background-color: #00cc85;
}
.menuToggle{
    display: flex;
    flex-direction: row;
    height: auto;
}
.menu{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 40;
    transform: translateX(-100%);
    transition: 0.3s;
    background-color: #f1f1f1;
    width: 40%;
    height: 100%;
    opacity: 1;
}
.darkener {
    display: none;
    position: fixed;
    background: rgb(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
}
.menuContent {
    margin-top: 30%;
}

#photoHaut{
    background-image:url("http://placekitten.com/375/300");
    margin-top: 9%;
    width: 100%;
    height: 200px;
    background-size: cover;
    background-position: center;
}    
#titre{
    margin: 10px;
    font-size: 15px;
    
}
#leTexte{
    width: 100%;
    display: flex;
    justify-content: flex-start;
    padding: 5px;
}

p{
    margin: 20px;
    max-width: 100%;
    font-size: 18px;
    text-align: justify;
}   
#photoBas{
    width: 100%;   
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 10px; 
    padding: 10px;
}   
h2{
    margin-top: 20px;
    padding: 10px;
    display: flex;
    justify-content: center;
}
.photoGallery{
    background-size: cover;
    background-position: center;
    background-image: url("http://placekitten.com/200/300");
    height: 100px;
    width: 100%;
    border-radius: 10px 10px 10px 10px;
    box-shadow: 5px 5px 5px #00cc85;
    
}
#carteGoogle{
    margin-top: 10px;
    padding: 5px;
    display: flex;
    justify-content: center;
    border-radius: 10px 10px 10px 10px;
    background-color: #00cc85;
}

/*
.test{
    background-color: black;
    height: 300px;
    width: 300px;
    display: none;
}
*/