*{
    margin : 0;
    padding : 0;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
}

body{
    background-color:#f9f9eb;
}












/* NavBar */
.menuBurger{
    display: none;
    justify-content: center;
    flex-direction: column;
    padding: 0 0 0 2%;
    margin: 0 55% 0 1%;
    cursor: pointer;
  }
.bars{
    background-color: #E2F2FF;
    width: 30px;
    height: 2px;
    margin: 3px 0;
    margin-left: 10px;
    border-radius: 5px;
  }
.navBar {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 150;
    width: 100%;
    background:  #8bb3c1;
}
.menuToggle{
    display: flex;
    flex-direction: row;
}
.menu{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 120;
    transform: translateX(-100%);
    transition: 0.3s;
    background-color: #f1f1f1;
    width: 40%;
    height: 100%;
    opacity: 1;
}
.menuContent {
    margin: 80px 0 0 60px;
    list-style: none;
}
.menuContent li {
    background-color: #8bb3c1;
    color: white;
    margin: 0 0 15px 0;

}

.navigation {
    font-size: 20px;
    color: white;
    display: flex;
    list-style: none;
    margin: 0 0 0 100px;
    
}
.navigation li {
    margin: 0px 30px 0 0;
    padding: 35px 10px 25px 10px;
}
.navigation a {
    text-decoration: none;
    color: inherit;
}
.navigation li:hover {
    background-color: white;
    color: #8bb3c1;
    cursor: pointer;
    border-radius: 7px 7px 7px 7px;
}
.chartattack{
    padding: 25px 0 0 0;
    margin: 0 50px 0 100px;
    font-size: 35px;
    font-weight: 700;

}
.logoChartresBurger {
    width: 90%;
    margin: 150px 0 0 0;
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
    .navigation{
        display: none;
    }

    .menuBurger {
        display: flex;
    }
    .navBar {
        position: fixed;
        padding: 15px 0 15px 0;
    }
    .menuContent{
        margin: 55px 0 0 0;
    }
    .menuContent li {
        padding: 20px 20px 20px 20px;
        text-align: center;
    }
    .logoChartresBurger {
        margin: 100px 0 0 0;
    }
}

@media only screen and (min-device-width: 667px) and (max-device-width: 860px) {
    .navigation{
        display: none;
    }
    .menuBurger{
        display: flex;
    }
    .navBar {
        position: fixed;
        padding: 15px 0 15px 0;
    }
    .menuContent{
        margin: 55px 0 0 0;
    }
    .menuContent li {
        font-size: 15px;
        padding: 20px 20px 20px 20px;
        text-align: center;
    }
    .logoChartresBurger {
        margin: 100px 0 0 0;
    }
}
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
    .navigation{
        display: none;
    }
    .menuBurger{
        display: flex;
    }
    .navBar {
        position: fixed;
        padding: 15px 0 15px 0;
    }
    .menuContent{
        margin: 55px 0 0 0;
    }
    .menuContent li {
        padding: 20px 20px 20px 20px;
        text-align: center;
    }
    .logoChartresBurger {
        margin: 100px 0 0 0;
    }
}

@media only screen and (min-device-width: 1024px) and (max-device-width: 1280px){
    .navigation{
        display: none;
    }
    .menuBurger{
        display: flex;
    }
    .navBar {
        position: fixed;
        padding: 15px 0 15px 0;
    }
    .menuContent{
        margin: 55px 0 0 0;
    }
    .menuContent li {
        padding: 20px 20px 20px 20px;
        text-align: center;
    }
    .logoChartresBurger {
        margin: 100px 0 0 0;
    }
}














/* Carousel */
#Carousel {
    background-color: #404040;
}
.carouselContainer {
    width: 100%;
}
.carouselContainer img{   
    max-width: 100%;
}
.mySlides {
    position: relative;
    display: none;
    
} 
.fade {
    animation-name: fade;
    animation-duration: 3s;
}
@keyframes fade {
    from {opacity: .5}
    to {opacity: 1}
}
.imgCarousel {
    filter: blur(1px);
}
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
    .imgCarousel {
        filter: blur(0);
    }
}














/* Welcome */
.welcome {
    position: absolute;
    opacity: 0.9;
    color: white;
    text-align: center;
    right: 0%;
    top: 25%;
    height: 500px;
    padding: 150px 50px 50px;
}
.welcome p {
    background-color: #8bb3c1;
    opacity: 1;
    margin: 0px 0;
    font-size: 50px;
    border-radius: 5px;
    padding: 15px 15px 15px 15px;
}
.welcome h1 {
    padding: 0 0 100px;
    font-size: 100px;
}
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
    .welcome{
        margin: 0 25px 50px 25px;
        right: 0%;
        top: 15%;
        padding: 75px 0px 0;
    }
    .welcome p {
        border-radius: 10px;
        font-weight: 500;
        margin: 10px 0;
        font-size: 25px;
    }
    .welcome h1 {
        font-size: 65px;
        padding: 0;
    }
}
@media only screen and (min-device-width: 1025px) and (max-device-width: 1280px){
    .welcome{
        margin: 0 25px 50px 25px;
        right: 0%;
        top: 15%;
        padding: 75px 0px 0;
    }
    .welcome p {
        border-radius: 10px;
        font-weight: 500;
        margin: 10px 0;
        font-size: 35px;
    }
    .welcome h1 {
        font-size: 150px;
        padding: 0;
    }
}

@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
    .welcome{
        margin: 0 25px 50px 25px;
        right: 0;
        top: 0%;
        height: 75px;
        padding: 75px 0px 0;
    }
    .welcome p {
        border-radius: 5px;
        font-weight: 600;
        margin: 10px 0;
        font-size: 15px;
    }
    .welcome h1 {
        padding: 0;
        font-size: 25px;
        margin: 0;
    }
}
@media only screen and (min-device-width: 667px) and (max-device-width: 760px) {
    .welcome{
        margin: 0 25px 50px 25px;
        right: 0;
        top: 15%;
        height: 75px;
        padding: 75px 0px 0;
    }
    .welcome p {
        border-radius: 5px;
        font-weight: 600;
        margin: 10px 0;
        font-size: 25px;
    }
    .welcome h1 {
        padding: 0;
        font-size: 50px;
        margin: 0;
    }
}















/* Categories */
#Categories {
    background-color: #404040;
    color: #f7f7ee;
    font-weight: 700;
    margin-bottom: 125px;
    font-size: 30px;
    box-shadow: 2px 36px 41px -28px #8bb3c1;
}
.categoriesContainer{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    padding: 20px;
    width: 100%;
    height: 100%;
    grid-gap: 50px;
}
.categories {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #bfbfbf;
    height: 500px;
    border-radius: 5px 5px 5px 5px;
    margin: 30px 40px 50px 40px;
}
.categories:hover {
    box-shadow: 0.2rem 0.2rem 1.5rem  #8bb3c1;
    cursor: pointer;
}
@media screen and (max-width: 768px) {
    #Categories{
        font-size: 18px;
        margin-bottom: 65px;
    }
    .categories{
        max-height: 200px;
    }
    .categoriesContainer{
        grid-gap: 30px;
    }
}
@media screen and (min-width: 768px) and (max-width: 1199px){
    #Categories{
        font-size: 35px;
        margin-bottom: 75px;
    }
    .categories{
        max-height: 300px;
    }
}











/* Articles */
#LastPost{
    margin: 15px;
}
.articleContainer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: auto;
    width: 100%;
    padding: 20px;
    grid-gap: 20px;
}
#BigArticle {
    grid-column-start: 1;
    grid-row-start: 1;
    grid-row-end: 3;
}

.articleDisplay {
    text-align: center;
    min-height: 325px;
    background-color: #bfbfbf;
    border-radius: 5px 5px 5px 5px;

}
#LastPost h2 {
    font-size: 40px;
    padding: 0 20px 0 20px;
    margin: 0 0 10px 0;
}
#LastPost p {
    font-size: 25px;
    padding: 0 20px 0 20px;
}
@media screen and (max-width: 768px) {
    #LastPost h2 {
        text-align: center;
        color: black;
    }
    #LastPost p {
        font-size: 18px;
    }
    .articleDisplay{
        min-height: 180px;
    }
}











/*Footer */  
footer{
    height: 200px;
    background: #8bb3c1;
    color: white;
    font-size: 20px;
    
}
#continainerFooter li{
    color: white;
    text-decoration: none;
}
#containerFooter{
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;

}
#containerFooter a {
    text-decoration: none;
    color: inherit;
}
#containerFooter li:hover{
    color: #404040;
}
@media screen and (min-device-width : 320px) and (max-device-width : 480px){
    #logoChartres{
        width: 80%;
       
    }
    footer{
        height: 100px;
        font-size: 15px;
    }
    #containerFooter{
        margin: 30px 0 0 30px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        align-items: center;
    }
}