*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

#mainPicContainer {
    display: flex;
    width: 100%;
    height: 250px;
    background-image: url("https://placekitten.com/375/250");
    justify-content: flex-start;
    align-items: flex-end;
}

#categoryName {
    color: #ffffff;
}

.categoryTitle {
    margin: 5%;
}

p {
    display: none;
    /* n'apparait pas sur mobile */
}

#lastArticlesDisplay{
    display: flex;
}

.articleDisplay{
    width: 33%;
    background-color : lightblue;
}