/* ------------------GENERAL-----------------------------*/  


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
}



/* ------------------NAV-----------------------------*/  


/* NavBar */
.menuBurger{
    display: none;
    justify-content: center;
    flex-direction: column;
    padding: 0 0 0 2%;
    margin: 0 55% 0 1%;
    cursor: pointer;
  }
.bars{
    background-color: #E2F2FF;
    width: 30px;
    height: 2px;
    margin: 3px 0;
    margin-left: 10px;
    border-radius: 5px;
  }
.navBar {
    position: fixed;
    transform: translateY(0);
    top: 0;
    left: 0;
    z-index: 150;
    width: 100%;
    background: #00BE7B;
    transition: 0.6s;
    
}
.menuToggle{
    display: flex;
    flex-direction: row;
}
.menu{
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 120;
    transform: translateX(-100%);
    transition: 0.6s;
    background-color: #404040;
    width: 40%;
    height: 100%;
    opacity: 1;
}
.menuContent {
    margin: 50px 0 0 0;
    list-style: none;
    display: none;
}
.menuContent li {
    background-color: #00BE7B;
    color: white;
    font-size: 3.5vw;
    padding: 20px 20px 20px 20px;
    text-align: center;
    display: none;

}
.navigation {
    font-size: 1.35vw;
    color: white;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    margin: 0;
    
}
.navigation li {
    padding: 40px 25px 40px 25px;

}
a {
    text-decoration: none;
    color: inherit;
}
.navigation li:hover {
    background-color: white;
    color: #00BE7B;
    cursor: pointer;
    transition: 0.4s ease;
}
.logoChartresNav{
    padding: 0 100px;
}
.logoChartresBurger {
    width: 90%;
    margin: 200px 0 0 0;
}
@media only screen and (min-width: 0px) and (max-width: 1280px) {
    .navigation{
        display: none;
    }
    .menu{
        display: block;
    }
    .menuBurger{
        display: flex;
    }
    .navBar {
        display: flex;
        position: fixed;
        padding: 20px 0 15px 0;

    }
    .menuContent{
        display: block;
    }
    .menuContent li {
        display: block;
    }
}


/* ------------------MAIN-----------------------------*/  

.main {
    height: 350px;
    background: url('img/Chartres1.jpg') center;
    background-size: cover;
    font-family: 'Raleway', sans-serif;
    color: white;
    font-size: 20px;
    text-shadow: 2px 2px 2px #00BE78;
    position: relative;
}
#img-Contact{
    display: block;
    width: 100%;
    height: auto;
  }
.main:hover{
    transform: scale(1.1);
    transition:all 0.3s; 
  }
  
.text {
    color: white;
    font-size: 25px;
    text-shadow: 1px 1px 2px black; 
    position: absolute;
    top: 55%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
    font-family: 'Raleway';
  }

.main:hover .overlay {
        opacity: 1;        
    }

.overlay {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        height: 100%;
        width: 100%;
        opacity: 0;
        transition: .5s ease;
        background-color: rgba(0, 190, 120, 0.7);
}

/* ------------------ABOUT US-----------------------------*/  

#gridAboutUs {
    display: grid;
    grid-gap: 15px;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
}
.blocElement1 p{
    font-style: italic;
}
#team {
    padding-left: 40px;
}

#titre_AboutUS {   
    padding-left: 20px; 
    margin-top: 40px;
    margin-bottom: 20px;  
}


.groupe {
    padding-bottom: 40px;  
    margin-bottom: 20px;
}


.blocElement1{
    display: flex;
    justify-content: left;
    width: auto;
    padding-right: 5px;
}

.Developpeurs{ 
    margin-bottom: 60px;  
}

#conteneur{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
    margin-bottom: 40px;
    box-shadow: 8px 5px 19px -4px rgba(0,0,0,0.12);
    
}


.chacun { 
    text-align: left;
    font-size: 12px;
    font-style: italic;
    margin-top: 5px;   
}



.cardText{
    padding-top: 10px;
    padding-left: 30px;
    padding-right: 10px;
}

.log-GIT {
    margin-top: 10px;
    height: 20px;
}
.log-GIT:hover{
    transform: scale(1.2);    
}
.card img{    
    width: 120px;
    height: 150px;
    padding-left: 10px;
    border-radius: 5%;
    -webkit-filter: grayscale(100%); /* Chrome, Safari, Opera */
    filter: grayscale(100%);
}
.card img:hover{
    transform: scale(1.1);
    -webkit-filter: grayscale(0%); /* Chrome, Safari, Opera */
    filter: grayscale(0%);
    -webkit-transition:all 0.3s;
    transition:all 0.3s;   
}

@media screen and (min-width: 770px) {
    .main {
        height: 500px;
    }

    .text {
        color: white;
        font-size: 55px;
        position: absolute;
        top: 60%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        text-align: center;
        font-family: 'Raleway', sans-serif;
      }


    #titre_AboutUS {   
        padding-left: 40px; 
        margin-top: 40px;
        margin-bottom: 20px;  
    }
    
    .blocElement1{
        padding-right: 20px;
    }

    .cardText{
        padding-top: 40px;
        width: 60%;   
    }
    
    
    .card img{
        width: 160px;
        height: 200px;
    }
    .chacun { 
        text-align: left;
        font-size: 16px;
        font-style: italic;
        margin-top: 5px;   
    }
    .log-GIT {
        margin-top: 15px;
        height: 20px;
    }
}
/* ------------------CONTACT + FORMULAIRE-----------------------------*/  

#formulaire {  
    
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: #616161;  
    width: auto;  
}

#titreContactUs{
    margin-left: 40px;
    
    margin-bottom: 40px;
    color: white;
}



form{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

input[type=text],[type=email], textarea {
    width: 70%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  
  button[type=submit] {
    width: 70%;
    background-color: #00BE78;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  button[type=submit]:hover {
    background-color: orange;
    transition: 0.3s ease;
  }
  
  .formContainer {
    border-radius: 5px;
    background-color: #616161;
    padding: 20px;
  }
  
  #error{
      color: yellow;
      font-style: italic;
      text-align: center;
      margin-top: 10px;
      display: none;
  }





/* ------------------FOOTER-----------------------------*/  


  
/*Footer */  
footer{
    height: 200px;
    background: linear-gradient(180deg, #00BE78, #015e3c) ;
    color: white;
    font-size: 20px;
    
}
#containerFooter li{
    color: white;
    text-decoration: none;
}
#containerFooter{
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;

}
#containerFooter a {
    text-decoration: none;
    color: inherit;
}
#containerFooter li:hover{
    color: #404040;
    cursor: pointer;
}
@media screen and (min-width : 0px) and (max-width : 667px){
    footer{
        height: 125px;
    }
    #containerFooter li{
        padding: 10px 10px 10px 10px;
        font-size: 4vw;
    }
    .logoChartresFooter{
        display: none;
    }
}
@media only screen and (min-width : 668px) and (max-width : 1280px) {
    .logoChartresFooter{
        width: 80%;
    }
    #containerFooter li{
        padding: 5px 5px 5px 5px;
    }
    #containerFooter{
        margin: 0 0 0 20px;
    }
}