/* ------------------GENERAL-----------------------------*/  


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    
}
h1,h2, h3,p {
    font-family: 'Raleway', sans-serif;
}

body{
    font-family: sans-serif;
}

/* ------------------NAV-----------------------------*/  


.menuBurger{
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 0 0 0 2%;
    margin: 0 85% 0 1%;
    cursor: pointer;
  }
.bars{
    background-color: #E2F2FF;
    width: 30px;
    height: 2px;
    margin: 3px 0;
    margin-left: 10px;
    border-radius: 5px;
  }
.navBar {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 50;
    width: 100%;
    padding: 3% 0 3% 0;
    background-color: #00cc85;
}
.menuToggle{
    display: flex;
    flex-direction: row;
    height: auto;
}
.menu{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 40;
    transform: translateX(-100%);
    transition: 0.3s;
    background-color: #f1f1f1;
    width: 40%;
    height: 100%;
    opacity: 1;
}
.darkener {
    display: none;
    position: fixed;
    background: rgb(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
}
.menuContent {
    margin-top: 5%;
}

/* ------------------MAIN-----------------------------*/  

.main {
    height: 350px;
    background: url('img/Chartres1.jpg') center;
    background-size: cover;
    font-family: sans-serif;
    color: white;
    font-size: 20px;
    text-shadow: 2px 2px 2px #00BE78;
    

}

/* ------------------ABOUT US-----------------------------*/  

#gridAboutUs {
    display: grid;
    grid-gap: 15px;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
}
.blocElement1 p{
    font-style: italic;
}
/*#AboutUs p{
    display: flex;
    justify-content: flex-start;
}*/
#team {
    padding-left: 40px;
}

#titre_AboutUS {   
    padding-left: 40px; 
    margin-top: 40px;
    margin-bottom: 20px;  
}
.groupe {
    padding-bottom: 40px;  
    margin-bottom: 40px;
}

.blocElement1{
    grid-row-start: 1;
    grid-row-end: 3;
}
.blocElement2{
    background: url(img/team.jpeg) center;
    background-size: cover;    
    resize: horizontal vertical;
}

.Developpeurs {
    display: grid;
    grid-template-columns: repeat(auto-fill, 150px);
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-gap: 12px;
    
}
/*.cardtext {
    padding: 10px;
}
.cardtext h3{
    text-align: left !important;
    margin-top: 0px;
    margin-bottom: 3px;
}*/

.chacun { 
    text-align: left;
    font-size: 12px;
    font-style: italic;
    margin-top: 5px;   
}

.cardText{
    padding-top: 5px;
    padding-left: 5px;
}
.card img{
    text-align: center;
    width: 100px;
    height: 150px; 
    padding-left: 10px;   
}
/* ------------------CONTACT + FORMULAIRE-----------------------------*/  

#formulaire {  
    
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: #616161;  
    width: auto;  
}

#titreContactUs{
    margin-left: 40px;
    
    margin-bottom: 40px;
    color: white;
}

/*#container-form{
    display: flex;
    justify-content: center; 
    align-items: center;       
}*/


form{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

input[type=text],[type=email], textarea {
    width: 70%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  
  input[type=submit] {
    width: 70%;
    background-color: #00BE78;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  input[type=submit]:hover {
    background-color: orange;
  }
  
  .formContainer {
    border-radius: 5px;
    background-color: #616161;
    padding: 20px;
  }
  
/*
input[type="text"],
input[type="email"],
{
    width: 100%;
    padding: 5px;
    margin-bottom: 4px;
}
textarea {
    width: 100%;
    height: 150px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    font-size: 16px;
 }
input[type="submit"] {
    background-color: #00BE78;
    color: white;
    border-radius: 3px;
    padding: 5px;
    font-size: 14px;
    border: 0px;
}

input[type="submit"]:hover {
    background-color: orange;
    color: white;
    border-radius: 3px;
    padding: 5px;
    font-size: 14px;
    border: 0px;
}
*/




/* ------------------FOOTER-----------------------------*/  

footer{
    height:80px;
    background: linear-gradient(180deg, #00BE78, #015e3c) ;
    color: white;
    font-size: 10px;
    
}
footer h3 a{
    color: white;
    text-decoration: none;
}
footer h3 a:hover{
    color: orange;
}

#containerFooter{
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;

}