*{
    margin : 0;
    padding : 0;
    box-sizing: border-box;
}

.menuBurger{
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 0 0 0 2%;
    margin: 0 85% 0 1%;
    cursor: pointer;
  }
.bars{
    background-color: #E2F2FF;
    width: 30px;
    height: 2px;
    margin: 3px 0;
    margin-left: 10px;
    border-radius: 5px;
  }
.navBar {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 50;
    width: 100%;
    padding: 15px 0 15px 0;
    background-color: #00cc85;
}
.menuToggle{
    display: flex;
    flex-direction: row;
    height: auto;
}
.menu{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 40;
    transform: translateX(-100%);
    transition: 0.3s;
    background-color: #f1f1f1;
    width: 40%;
    height: 100%;
    opacity: 1;
}
.darkener {
    display: none;
    position: fixed;
    background: rgb(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
}
.menuContent {
    margin-top: 30%;
}