*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
}

/* navbar */
.menuBurger{
    display: none;
    justify-content: center;
    flex-direction: column;
    padding: 0 0 0 2%;
    margin: 0 55% 0 1%;
    cursor: pointer;
  }
.bars{
    background-color: #E2F2FF;
    width: 30px;
    height: 2px;
    margin: 3px 0;
    margin-left: 10px;
    border-radius: 5px;
  }
.navBar {
    position: fixed;
    transform: translateY(0);
    top: 0;
    left: 0;
    z-index: 150;
    width: 100%;
    background:  #7594d7;
    transition: 0.6s;
}
.menuToggle{
    display: flex;
    flex-direction: row;
}
.menu{
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 120;
    transform: translateX(-100%);
    transition: 0.6s;
    background-color: #f1f1f1;
    width: 40%;
    height: 100%;
    opacity: 1;
}
.menuContent {
    margin: 50px 0 0 0;
    list-style: none;
    display: none;
}
.menuContent li {
    background-color: #7594d7;
    color: white;
    font-size: 3.5vw;
    padding: 20px 20px 20px 20px;
    text-align: center;
    display: none;

}
.navigation {
    font-size: 1vw;
    color: white;
    display: flex;
    list-style: none;
    margin: 0;
}
.navigation li {
    padding: 35px 25px 25px 25px;
}
.navigation a {
    text-decoration: none;
    color: inherit;
}
.navigation li:hover {
    background-color: white;
    color: #7594d7;
    cursor: pointer;
}
.logoChartresNav{
    padding: 0 100px;
    margin: 0 200px 0 0;
}
.logoChartresBurger {
    width: 90%;
    margin: 200px 0 0 0;
}


@media only screen and (min-device-width: 0px) and (max-device-width: 1599px) {
    .navigation{
        display: none;
    }
    .menu{
        display: block;
    }
    .menuBurger{
        display: flex;
    }
    .navBar {
        display: flex;
        position: fixed;
        padding: 20px 0 15px 0;

    }
    .menuContent{
        display: block;
    }
    .menuContent li {
        display: block;
    }
}

/* main body */
#category-description {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}

#description {
    height: 100%;
    width: 100%;
}

#text-description {
    display: block;
}

a:link {
    text-decoration: none;
}

h1 {
    text-transform : uppercase;
    display: inline-block;
    font-weight: 800;
    text-shadow:  rgba(0, 0, 0, 0.5) 3px 3px 8px;
    font-size: 9vw;
}

h2 {
    text-transform : uppercase;
    font-size: 20px;
}

p {
    text-align: justify;
}

#mainPicContainer {
    display: flex;
    width: 100%;
    background-size: cover;
    background-position: center;
    background-image: url("../assets/CathedralClock/dial-664878_1280.jpg");
    justify-content: center;
    align-items: center;
    box-shadow: rgba(149, 157, 165, 0.5) 0px 8px 24px;
}

#categoryName {
    color: #ffffff;
}

.categoryTitle {
    margin: 5%;
}

#articles-box{
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;
}

.article-display {
    border-radius: 5px;
    background-color : rgb(245, 250, 252);
    transition: 1.7s;
    text-align: center;
}

.article-display:hover {
    box-shadow: rgba(149, 157, 165, 0.5) 0px 12px 24px;
}

#first-article {
    grid-column-start: 1;
    grid-row-start: 1;
    grid-row-end: 3;
    height: 320px;
    overflow: hidden;
}

.article-img {
    background-size: cover;
    background-position: center;
    background-image: url("../assets/chartres-cathedral-1021517_640.jpg");
    width: 100%;
}

.box-body {
    padding: 5%;
    padding-top: 5%;
    overflow: hidden;
}

.box-body h2 p {
   margin: 10px 0px;
}

@media screen and (max-width: 767px) {
    #mainPicContainer {
        height: 300px;
    }

    #category-description {
        height: 150px;
    }

    #description{
        padding: 20px 25px 0 25px;
    }

    #text-description {
        font-size: 17px;
    }

    #articles-box {
        padding: 10px 20px 20px 20px;
        grid-gap: 20px;
    }

    p {
        display: none;
    }

    .article-display {
        height: 150px;
    }

    .article-img {
        border-radius: 5px 5px 0 0;
        height: 75%;
    }

    .box-body {
        padding-top: 5%;
        height: 25%;
    }

    #first-article {
        height: 320px;
    }

    #first-article .box-body{
        padding-top: 15%;
    }

    h2 {
        font-size: 12px;
    }

    #first-article h2 {
        font-size: 16px;
    }

}

@media screen and (min-width: 767px) and (max-width: 1111px) {
    #mainPicContainer {
        height: 400px;
    }

    #category-description {
        height: 200px;
    }

    #description{
        padding: 30px 40px 0 40px;
    }

    #text-description {
        font-size: 24px;
    }

    #articles-box {
        padding: 10px 30px 30px 30px;
        grid-gap: 30px;
    }


    p {
        display: none;
        padding-top: 10px;
        position: bottom;
    }

    .article-display {
        height: 225px;
    }

    .article-img {
        border-radius: 5px 5px 0 0;
        height: 66%;
    }

    .box-body {
        height: 33%;
    }

    #first-article {
        height: 480px;
    }

    #first-article p {
        display: inline-block;
    }
}

@media screen and (min-width: 1112px){
    #mainPicContainer {
        height: 600px;
    }

    #category-description {
        height: 200px;
    }

    #description{
        padding: 50px 150px 0 150px;
    }

    #text-description {
        font-size: 32px;
    }

    #articles-box {
        padding: 50px 120px 120px 120px;
        grid-gap: 50px 120px;
    }


    p {
        display: block;
        padding-top: 10px;
        position: bottom;
        font-size: 20px;
    }

    .article-display {
        height: 335px;
        padding: 25px;
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .article-img {
        height: 100%;

    }

    .box-body {
        padding-left: 10%;
    }

    #first-article {
        height: 720px;
        display: block;

    }

    #first-article .article-img {
        height: 75%;
    }

    #first-article .box-body {
padding-left: 5%;    }
}

/* footer */
footer{
    height: 200px;
    background: #7594d7;
    color: white;
    font-size: 20px;
}
#containerFooter li{
    color: white;
    text-decoration: none;
}
#containerFooter{
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
}
#containerFooter a {
    text-decoration: none;
    color: inherit;
}
#containerFooter li:hover{
    color: #404040;
}
@media screen and (min-device-width : 0px) and (max-device-width : 667px){
    footer{
        height: 125px;
    }
    #containerFooter li{
        padding: 10px 10px 10px 10px;
        font-size: 4vw;
    }
    .logoChartresFooter{
        display: none;
    }
}
@media only screen and (min-device-width : 668px) and (max-device-width : 1610px) {
    .logoChartresFooter{
        width: 80%;
    }
    #containerFooter li{
        padding: 5px 5px 5px 5px;
    }
    #containerFooter{
        margin: 0 0 0 20px;
    }
}